@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import "login-styles.css";
@import "simple-sidebar.css";


html,div,a,p,span,table,nav,header {
    font-family: 'Droid Arabic Kufi','Raleway', sans-serif;
}
#header {
    background-color: #ff7900;
    padding: 20px;
    border-bottom: 5px solid #787878;
}
#header h1 {
    color: white;
}

.head-bg {
    background-image:url('../images/col.jpg');
    background: no-repeat;
}
.sidebar-nav > .sidebar-brand {
    color  : #ff7900;
}